<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
    <div class="topnav">
        <a href="/home">Home</a>
        <a class="active" href="/create">Create Employee</a>
        <a href="/payrates">Pay Rates</a>
    </div>
    <div class="form">
        <form action="/createUser" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend class="nav_form">Form add user</legend>
                <div>
                    <div class="inputgroup">
                        <label for="id">ID</label>
                        <input type="number" id="id" name="id"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="name">name</label>
                        <input type="text" id="name" name="name"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="email">email</label>
                        <input type="text" id="email" name="email"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="phone">phone</label>
                        <input type="text" id="phone" name="phone"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="avatar">avatar</label>
                        <input type="file" id="avatar" name="avatar"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="address">address</label>
                        <input type="text" id="address" name="address"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="role">role</label>
                        <input type="number" id="role" name="role"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="active">active</label>
                        <input type="number" id="active" name="active"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="password">password</label>
                        <input type="text" id="password" name="password"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="email_verified_at">email_verified_at</label>
                        <input type="datetime" id="email_verified_at" name="email_verified_at"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="remember_token">remember_token</label>
                        <input type="text" id="remember_token" name="remember_token"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="created_at">created_at</label>
                        <input type="datetime" id="created_at" name="created_at"><br><br>
                    </div>
                    <div class="inputgroup">
                        <label for="updated_at">updated_at</label>
                        <input type="datetime" id="updated_at" name="updated_at"><br><br>
                    </div>
                    <div>
                        <button>SAVE</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>
</body>

</html>