<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete user</title>
    <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
    <%- include('partials/header') %>

        <div class="form">
            <form action="/deleteUser" method="post">
                <fieldset>
                    <legend class="nav_form">Do you want to Delete User</legend>
                    <div>
                        <div class="inputgroup ">
                            <label for="id">ID employee:</label>
                            <input type="number" id="id" name="id" value="<%= user.id%>"><br><br>
                        </div>


                        <div>
                            <button>Confirm</button>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
</body>

</html>