<div class="topnav">
    <a class="home" href="/home">Home</a>
    <a class="createUser" href="/getCreateUser">Create user</a>
    <a class="login" href="/login">loggin</a>
    <a class="userList" href="/userList">userList</a>
</div>